* {
    box-sizing: border-box;
    padding: 0;
    margin: 1%;
    font-family:  "Bebas Neue", sans-serif, Cambria, Cochin, Georgia, Times;
}

#document-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

h1 {
    font-size: 5em;
    padding: 2vh;
}
h2 {
    font-size: 4em;
}
/* #current-event, #stats, #QR-code {
    width: 70%;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    margin-bottom: 0.5em;
} */
#stats {
    justify-content: center;
    align-items: center;
    min-height: 5em;
    margin-bottom: 0.5em;
}
#current-event {
    display: flex;
    justify-content: center;
    align-items: space-between;
}


#QR-code {
    justify-content: center;
    align-items: flex-end;
    min-height: 5em;
    margin-bottom: 0.5em;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif Cambria;
    font-style: italic;
    padding: 1em;
    background-color: #d29209;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 100%;
    margin: 2em;
    }

#pretty-list {
    
}