* {
    box-sizing: border-box;
    padding: 0;
    /* margin: 1%; */
    font: arial, helvetica;
}


#document-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);

}

h1 {
    font-size: 5em;
    padding: 2vh;
}
h2 {
    font-size: 4em;
}

#stats {
    justify-content: center;
    align-items: center;
    min-height: 5em;
    margin-bottom: 0.5em;
}
#current-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}


/* #QR-code {
    justify-content: center;
    align-items: flex-end;
    min-height: 5em;
    margin-bottom: 0.5em;
} */

#current-event {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin-bottom: 1%;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif Cambria;
    font-style: italic;
    padding: 1em;
    background-color: #d29209;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 20px;
    margin: 2em;
    }

/* form {
        width: 40rem;
        display: flex;
    justify-content: center;
    align-items: center;
    } */

