main {
    font: arial, helvetica;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: white;
    height: 100vh;

}

section {
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-color: white;
    font-size: 2.5em;
    font-style: bold;
    width: 100%
}

article {
    margin: 1em 2em;
}

p {
    font-weight: bold;
    color: black;
}

a:hover {
    color: #3185fc;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 0.3em;
    transition: 0.3s;
    margin: 0.5rem;
}

footer {
    margin-top: auto;
    
}

form {
    margin-bottom: 4rem;
}