.qr-code-card {
    /* display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */ 
    width: 40rem;
    border: 1px solid rgb(231, 247, 14);
}

.qr-code {
    border: solid 2px rgb(214, 211, 7);
    padding-right: 13px;
}

.qr-code-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.qr-code-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    box-shadow: -5px -5px 15px rgb(255, 255, 255);
}

.qr-code-wrapper {
    flex: 2; 
}

.event-details {
    flex: 1; 
    padding-left: 11rem; 
    padding-right: 2rem;
}



/* .qr-code-body {
    
} */

/* .parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
} */