.qr-code-card {
    display: flex;
    align-items: center;
    width: 50rem;
}

.qr-code {
    border: solid 2px black;
    padding-right: 8px;
}

.qr-code-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .qr-code-body {
    
} */

/* .parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
} */